<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ijglb.muzei.lbwallpaper">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LBWallpaperForMuzei" >

        <provider
            android:name=".LBWallpaperProvider"
            android:authorities="com.ijglb.muzei.lbwallpaper.LBWallpaperProvider"
            android:exported="true"
            android:label="@string/label"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider"/>
            </intent-filter>
            <meta-data
                android:name="settingsActivity"
                android:value="com.ijglb.muzei.lbwallpaper.SettingsActivity" />
            <meta-data
                android:name="setupActivity"
                android:value="com.ijglb.muzei.lbwallpaper.SettingsActivity" />
        </provider>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/prefs_title"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.Muzei" />
    </application>

</manifest>